<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738766374478-6giekhuic0hggeb6922a14r7g3ojfd8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738766374478-6giekhuic0hggeb6922a14r7g3ojfd8r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738766374478-689j7qu5kseh3ddushfgjsp0dkvj8oot.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0VfRkrH9WLIPQfltrWQJ7SNJLyRAixDc</string>
	<key>GCM_SENDER_ID</key>
	<string>738766374478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Groupify</string>
	<key>PROJECT_ID</key>
	<string>groupify-final-x8mazy</string>
	<key>STORAGE_BUCKET</key>
	<string>groupify-final-x8mazy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738766374478:ios:51d37db37293daf787a51f</string>
</dict>
</plist>